[Desktop Entry]
Name=Hytale Launcher
Comment=Hytale Launcher per flatpak
Exec=flatpak run com.hypixel.HytaleLauncher
Terminal=false
Type=Application
Categories=Game;Gaming;media
Icon=/home/elias/.config/custom-icons/hytale.png
Keywords=hytale;Hytale
