* {
    primary: #A7C080;
    secondary: #D3C6AA;
    tertiary: #D3C6AA;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    surface: #272E33;
    outline: #7A8478;
    surface-container: #2E383C;
    surface-container-high: #374145;
    surface-container-highest: #414B50;
}