/*
* Css Colors
* Nord
*/

    @define-color primary #88c0d0;
    @define-color secondary #eceff4;
    @define-color tertiary #5e81ac;
    @define-color error #ffb4ab;
    @define-color on_error #690005;
    @define-color error_container #93000a;
    @define-color background #2e3440;
    @define-color outline #848389;
    @define-color surface_container #3b4252;
    @define-color surface_container_high #434c5e;
    @define-color surface_container_highest #4c566a;
 