/*
* Css Colors
* Everforest
*/

    @define-color primary #cba6f7;
    @define-color secondary #cdd6f4;
    @define-color tertiary #f38ba8;
    @define-color error #ffb4ab;
    @define-color on_error #690005;
    @define-color error_container #93000a;
    @define-color background #1e1e2e;
    @define-color outline #6c7086;
    @define-color surface_container #313244;
    @define-color surface_container_high #45475a;
    @define-color surface_container_highest #585b70;
 