/*
* Css Colors
* Tokyo Night
*/

    @define-color primary #7aa2f7;
    @define-color secondary #c0caf5;
    @define-color tertiary #ff899d;
    @define-color error #ffb4ab;
    @define-color on_error #690005;
    @define-color error_container #93000a;
    @define-color background #1a1b26;
    @define-color outline #8688a7;
    @define-color surface_container #22232e;
    @define-color surface_container_high #2a2b36;
    @define-color surface_container_highest #32333e;
 