* {
    primary: #88c0d0;
    secondary: #eceff4;
    tertiary: #f38ba8;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    surface: #2e3440;
    outline: #848389;
    surface-container: #3b4252;
    surface-container-high: #434c5e;
    surface-container-highest: #4c566a;
}