/*
* Css Colors
* Everforest
*/

    @define-color primary #A7C080;
    @define-color secondary #D3C6AA;
    @define-color tertiary #D3C6AA;
    @define-color error #ffb4ab;
    @define-color on_error #690005;
    @define-color error_container #93000a;
    @define-color background #272E33;
    @define-color outline #7A8478;
    @define-color surface_container #2E383C;
    @define-color surface_container_high #374145;
    @define-color surface_container_highest #414B50;
 