* {
    primary: #cba6f7;
    secondary: #cdd6f4;
    tertiary: #f38ba8;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    surface: #1e1e2e;
    outline: #181825;
    surface-container: #313244;
    surface-container-high: #45475a;
    surface-container-highest: #585b70;
}