@import "../colors/colors.css";

* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
    min-height: 0;
    min-width: 0;
    box-shadow: none;
    text-shadow: none;
}

window#waybar:hover,
window#waybar {
    background: transparent;
    border-radius: 1.5em;
}

window#waybar.empty #window {
    background: transparent;
    border: none;
}

#workspaces {
    background: @background;
    padding: 0.4em 0.5em 0.4em 0.5em;
    border-radius: 0em;
    margin: 0em 0em;
    transition: 0.3s all ease;
    border-top: 1px solid @surface_container;
    border-bottom: 1px solid @surface_container;
}

#workspaces button {
    background: none;
    border-radius: 1.5em;
    padding: 0.05em 0.75em;
    color: @secondary;
    transition: all 0.3s ease;
}
#workspaces button label { transition: 0.3s all ease; }
#workspaces button.empty label { color: alpha(@secondary, 0.5) }
#workspaces button.active {
    background: linear-gradient(45deg, @primary, @tertiary);
    border-radius: 1.5em;
    padding: 0.05em 1.25em;
    color: @background;
    transition: all 0.3s ease;
}
#workspaces button.empty:hover label { color: alpha(@primary, 0.5) }
#workspaces button:hover label { color: @primary }
#workspaces button.active:hover label { color: @background; }
#workspaces button label {
    color: @secondary;
}
#workspaces button.active label {
    color: @background;
}

#clock {
    background: @background;
    border-radius: 1.5em 0 0 1.5em;
    font-size: 1em;
    color: @secondary;
    padding: 0em 0.5em 0 1em;
    margin: 0em;
    transition: all 0.3s ease;
    border-left: 1px solid @surface_container;
    border-bottom: 1px solid @surface_container;
    border-top: 1px solid @surface_container;
}
#clock:hover { color: @primary; }

#mpris {
    background: @background;
    border-radius: 0;
    font-size: 1em;
    color: @secondary;
    padding: 0em 0.5em 0em 0.5em;
    margin: 0em 0em 0 0;
    border-top: 1px solid @surface_container;
    border-bottom: 1px solid @surface_container;
    transition: all 0.3s ease;
}
#mpris:hover { color: @primary; }

#pulseaudio-slider {
    background: transparent; 
    border-radius: 1.5em; 
    padding: 0 1em 0 0em; 
    color: @secondary;
}
#pulseaudio-slider slider {
    background: none;
    min-height: 0;
    min-width: 0;
}
#pulseaudio-slider trough {
    background: @surface_container; 
    min-width: 5em; 
    min-height: 0.4em; 
    box-shadow: none;
    border-radius: 1.5em; 
    margin-right: 0em;
}

#pulseaudio-slider highlight {
    background: linear-gradient(45deg, @primary, @tertiary);
    border-radius: 1.5em; 
    margin: 0;
    box-shadow: none;
    border: 0 solid @border;
    color: @primary;
}

#volume {
    background: @background;
    font-size: 1em;
    color: @secondary;
    padding: 0em 0.5em 0 0.5em;
    margin: 0em 0em 0em 0em;
    border-top: 1px solid @surface_container;
    border-bottom: 1px solid @surface_container;
    transition: all 0.3s ease;
}
#volume:hover { color: @primary; }

#network {
    background: @background;
    font-size: 1em;
    color: @secondary;
    padding: 0em 0.5em 0em 0.5em;
    border-top: 1px solid @surface_container;
    border-bottom: 1px solid @surface_container;
    margin: 0em 0em 0em 0em;
    transition: all 0.3s ease
}
#network:hover { color: @primary; }

#bluetooth {
    background: @background;
    border-radius: 0em 1.5em 1.5em 0em;
    font-size: 1em;
    border-top: 1px solid @surface_container;
    border-bottom: 1px solid @surface_container;
    border-right: 1px solid @surface_container;
    color: @secondary;
    padding: 0em 1em 0em 0.5em;
    margin: 0em;
    transition: all 0.3s ease;
}
#bluetooth:hover { color: @primary; }


tooltip {
    background-color: @background;
    padding: 0.5em;
    color: @secondary;
    border-radius: 1.5em;
    border: 1px solid @surface_container
}

tooltip label {
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 1.5em;
    font-weight: bold;
    color: @secondary;
}

#tray menu { border: 1px solid @surface_container; padding: 0.05em; }
#tray label { font-size: 1em; }
#tray {
    border-radius: 1.5em;
    padding: 0em 0.25em;
    color: @secondary;
    border: 0 solid @border;
    transition: 0.3s all ease;
}

#tray menu, menu {
    background: @background;
    color: @secondary;
    border-radius: 1em;
}

#tray menu menuitem {
    background: @background;
    color: @secondary;
    padding: 0.3em;
}

#tray menu menuitem:last-child,
#tray menu menuitem:hover:last-child {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

#tray menu menuitem:first-child,
#tray menu menuitem:hover:first-child {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

